<!DOCTYPE html>
<html>
  <head>
    <title>My Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar">
    <div class="container-fluid">
      <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        My Twitter
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-left">
      <li class="active"> <%= link_to 'Write a new Post', new_post_path %> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to 'Sign Up' %> </li>
      <li> <%= link_to 'Login' %> </li>
      </ul>
    </div>
  </nav>

  <% if flash[:notice] %>
        <div class="alert alert-info" role="alert"> 
          <p class="notice"> <%= notice %> </p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <p class="alert"> <%= alert %> </p>
        </div>
      <% end %>
      <%= yield %>
  </body>
</html>
